@model WalkDrum.Models.WalkInInfo
<div class="form-horizontal">
    <h4 class="sessiontitle">JOB INFO</h4>
    
    
    <div class="form-group">
        <h4 class="itemlabels">JOB TITLE</h4>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.jobtitle, new { Class = "form-control" })
            @*<input type="text" class="form-control" id="jobtitle" />*@
        </div>
    </div>

    <div class="form-group">
        <h4 class="itemlabels">JOB DESCRIPTION (JD)</h4>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.jobdescription, new { Class = "form-control" })
            @*<input type="text" class="form-control" id="jobdescription" />*@
        </div>
    </div>

    <div class="form-group">
        <h4 class="itemlabels">SALARY</h4>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.salary, new { Class = "form-control" })
            @*<input type="text" class="form-control" id="salary" />*@
        </div>
    </div>

    <div class="form-group">
        <h4 class="itemlabels">EXPERIENCE</h4>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.experience, new { Class = "form-control" })
            @*<input type="text" class="form-control" id="experience" />*@
        </div>
    </div>
</div>